<div id="main-container">

  <div id ="navigation"></div>

  <div id ="signup-container">
    <div class="signup-phone"></div>
    <div class="signup-email"></div>
    <div class="signup-password">
      <div class="signup-button-container"></div>
    </div>
  </div>

  <div id ="login-container">
    <div class="login-email"></div>
    <div class="login-password"></div>
    <div class="forgot-pasword"></div>
    <div class="login-button-container"></div>
  </div>


    <div id ="contact-container">
      
    </div>

  
  <div id ="content-container">
    <div id ="content-container-one"></div>
    <div id ="content-container-two"></div>
    <div id ="content-container-three"></div>
  </div>
  
</div>
